@font-face {
  font-family: 'VF-Canto-HKEdB';
  src: url('/VF-Canto-HKEdB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text */
}

a {
  color: #0000ee; /* Standard link color */
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  text-align: center;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.cell {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

.character {
  font-family: 'VF-Canto-HKEdB', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.pronunciation {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.stroke-order {
  max-width: 100%;
  height: auto;
}
